<p id="notice"><%= notice %></p>

<h1>Listing Post Parts</h1>

<table>
  <thead>
    <tr>
      <th>Heading</th>
      <th>Body</th>
      <th>Price</th>
      <th>Neighborhood</th>
      <th>External url</th>
      <th>Timestamp</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @post_parts.each do |post_part| %>
      <tr>
        <td><%= post_part.heading %></td>
        <td><%= post_part.body %></td>
        <td><%= post_part.price %></td>
        <td><%= post_part.neighborhood %></td>
        <td><%= post_part.external_url %></td>
        <td><%= post_part.timestamp %></td>
        <td><%= link_to 'Show', post_part %></td>
        <td><%= link_to 'Edit', edit_post_part_path(post_part) %></td>
        <td><%= link_to 'Destroy', post_part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post part', new_post_part_path %>
