<p id="notice"><%= notice %></p>

<p>
  <strong>Heading:</strong>
  <%= @post_part.heading %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post_part.body %>
</p>

<p>
  <strong>Price:</strong>
  <%= @post_part.price %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @post_part.neighborhood %>
</p>

<p>
  <strong>External url:</strong>
  <%= @post_part.external_url %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @post_part.timestamp %>
</p>

<%= link_to 'Edit', edit_post_part_path(@post_part) %> |
<%= link_to 'Back', post_parts_path %>
